.card {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 80vw;
  border-radius: $border-radius;
  border: 1px solid $line-color;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  @include change-at("tablet") {
    max-width: rem(453);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: $size-l;
    width: 20%;
    height: 5px;
    background-color: $primary;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    &:after {
      width: 60%;
      transition: width 0.3s ease-in-out;
    }
  }

  &__head {
    padding: $size-l;
    max-height: rem(376);
    display: flex;
    justify-content: center;
    border-radius: rem(10) rem(10) 0 0;
  }

  &__image {
    height: 100%;
    width: auto;
  }

  &__headline {
    margin-bottom: $size-l;
  }

  &__body {
    padding: $size-l;
  }

  &__link {
    display: inline-block;
    position: relative;
    --primary: hsl(203, 89%, 46%);
    &::before {
      content: url("../images/call-to-action.svg");
      margin-right: var(--spacer);
    }
  }
}
