.code__tab {
  height: calc(100% - 48px);
  max-height: rem(364);
  margin: 0 !important;

  .uagb-tabs__body-wrap {
    padding: 0 !important;
    //height: calc(100% - 54px);
    border-width: 0 !important;
  }

  pre {
    height: rem(313);
    margin: 0;
    padding: $size-m;
    font-family: "Fira Code", monospace;
    color: #fff;
    background-color: var(--text-color);
    border-radius: 0 rem(10) 0 0;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--text-color);
      border-radius: 3px;
      border-right: 2px solid var(--text-color);
    }
    &::-webkit-scrollbar-thumb {
      background: #ffffff;
      border-radius: $border-radius;
      border-right: 2px solid var(--text-color);
      border-top: 2px solid var(--text-color);
    }
  }

  code {
    background-color: transparent;
    white-space: pre-line;
    &::selection {
      background-color: #fff;
      color: var(--text-color);
    }
  }

  .uagb-tabs__body-container {
    padding: 0 !important;
  }

  .uagb-tabs__panel {
    align-items: flex-end;
    .uagb-tab {
      border-radius: rem(10) rem(10) 0 0 !important;
      border: none !important;
      box-shadow: inset 0 0 0 1px $line-color;
      padding: $size-m $size-m rem(10) !important;

      span {
        color: var(--text-color) !important;
      }

      &.uagb-tabs__active {
        background-color: var(--text-color) !important;
        font-weight: 700;
        border-width: 0 !important;
        box-shadow: none;

        span {
          color: #fff !important;
        }

        &:hover {
          a {
            cursor: auto;
          }
        }
      }
    }
  }

  .copy__link {
    display: block;
    padding: $size-s;
    border-radius: 0 0 rem(10) rem(10) !important;
    background: var(--gradient-main);
    @include card-shadow();
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1;
    color: #fff;
    text-align: center;
    &::before {
      content: url("../images/call-to-action-white.svg");
      margin-right: var(--spacer);
    }

    &::after {
      content: "";
      width: 100%;
      height: rem(48);
      left: -100%;
      top: 0;
      display: block;
      position: absolute;
      z-index: -1;
      background-color: var(--primary);
      transition: left 0.5s ease-in-out;
    }

    &:hover {
      @include card-shadow-hover();
      &::after {
        left: 0;
      }
    }
  }
}
