//sizes
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;
$space-240: 15rem;

$width-one-fourth: 25%;
$width-half: 50%;
$width-three-fourth: 75%;

//~~ UTILITY CLASSES ~~\\

.height {
  &--8 {
    height: var(--space-xxs);
  }
  &--16 {
    height: var(--space-xs);
  }
  &--24 {
    height: var(--space-sm);
  }
  &--32 {
    height: var(--space-md);
  }
  &--40 {
    height: var(--space-lg);
  }
  &--240 {
    height: $space-240;
  }
}

.width {
  &--one-fourth {
    width: 25%;
  }
  &--half {
    width: 50%;
  }
  &--three-fourth {
    width: 75%;
  }
  &--small {
    width: 80px;
  }
}

.has-round-corners-in {
  &-full {
    border-radius: var(--border-radius-element);
  }
  &-element-size {
    border-radius: var(--border-radius-element);
  }
}

//~~ ELEMENTS ~~\\

.is-img {
  background-image: var(--gradient-main);
  border-radius: var(--border-radius-element);
}

.is-small {
  height: var(--space-xxs);
  width: $width-one-fourth;
  margin-bottom: var(--space-xxs);
  background-color: var(--text-color);
  border-radius: var(--border-radius-round);
}

.is-h1 {
  background-color: var(--headline-color);
  height: var(--space-md);
  width: $width-half;
  border-radius: var(--border-radius-round);
}

.is-p {
  background-color: var(--text-color);
  height: var(--space-xs);
  border-radius: var(--border-radius-round);

  &:last-of-type {
    margin-top: var(--space-xxs);
  }
}

.is-button {
  border-radius: var(--border-radius-element);
  padding: 0.7rem 1.75rem;
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: var(--box-shadow);
  }

  &--white {
    background-color: var(--white);
    color: var(--primary);
    box-shadow: var(--box-shadow);
  }

  &--secondary {
    border: 2px solid var(--white);
    color: var(--white);
  }

  &--tertiary {
    color: var(--white);
  }
}

.preview {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}
