.table-of-content {
  list-style-type: none;
  li {
    color: var(--primary);
    font-weight: 700;
    text-decoration: underline;

    &:before {
      background-image: url("../images/hash.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
      height: var(--space-xs);
      width: var(--space-xs);
    }

    &:not(:last-of-type) {
      margin-bottom: var(--space-sm);
    }
  }
}
