.tag {
  color: var(--headline-color);
  font-size: var(--space-xs);
  padding: rem(4) rem(8);
  background-color: var(--primary-light);
  border-radius: var(--border-radius-element);
}

.tagline {
  margin-bottom: var(--space-xs);
  & > * {
    &:not(:last-of-type) {
      margin-right: var(--space-xs);
    }
  }
}
