.tag {
  font-size: rem(12);
  padding: rem(4) rem(8);
  background-color: $pill-color;
  border-radius: $border-radius;
}

.tagline {
  margin-bottom: $size-m;
  & > * {
    &:not(:last-of-type) {
      margin-right: $size-m;
    }
  }
}
