:root {
  //spacing
  --base: 1rem;
  --space-xxs: 0.5rem; //8
  --space-xs: 0.875rem; //14
  --space-base: 1.25rem; //16
  --space-sm: 1.5rem; //24
  --space-md: 2rem; //32
  --space-lg: 2.5rem; // 40
  --space-xl: 4rem; //64
  --space-xxl: 6rem; //96
  --component-padding: var(--space-sm);

  --fs-base: #{$space-text};
  //colors
  --primary: hsl(228, 90%, 69%);
  --primary-light: hsl(228, 91%, 96%);
  --text-color: hsl(228, 12%, 37%);
  --headline-color: var(--white);
  --border-radius-element: #{rem(5)};
  --border-radius-round: #{rem(20)};
  --line-color: hsl(228, 14%, 21%);
  --background-line-color: hsl(225, 14%, 19%);
  --white: hsl(228, 100%, 100%);
  --background-color:hsl(228, 8%, 12%);
  --background-color-dark:hsl(0, 0%, 7%);
  --gradient-main: linear-gradient(
    218deg,
    hsl(228, 90%, 69%) 0%,
    hsl(194, 90%, 69%) 100%
  );
  --gradient-background: linear-gradient(
    218deg,
    hsl(195, 100%, 63%) 0%,
    hsl(203, 89%, 83%) 100%
  );
  --box-shadow: 0 2px 8px -1px hsla(228, 0%,7%%, 0.3),
    0 1px 2px -1px hsla(228, 70, 7%, 0.2), 0 1px 0 0 hsla(228, 0%,7%%, 0.1);
}

::selection {
  background-color: var(--primary);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  font-size: var(--space-base);
  color: var(--white);
  background-color:var(--background-color);
}

.main {
  @include make-grid();
  box-shadow: inset -1px 0 0 0 var(--background-line-color);
  //margin: 0 var(--space-base);
  max-width: rem(1440);
  min-width: 0; /*prevent grid blowout*/
  padding-bottom: var(--space-xl);
  position: relative;
}
