// -- global font stylings -- //

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: var(--headline-color);
  font-family: $font-family-headline;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: var(--space-base);
  position: relative;
}

h1,
.h1 {
  font-size: clamp(var(--space-md), 3vw, var(--space-lg));
}

h2,
.h2,
h3,
.h3 {
  font-size: clamp(var(--space-sm), 3vw, var(--space-md));
}

.single h2,
.single h3 {
  &:before {
    bottom: 0;
    content: url("../images/hash.svg");
    left: -15px;
    position: absolute;
    z-index: -1;
  }
}

p {
  margin-bottom: var(--space-base);
  &.has-medium-font-size {
    font-size: var(--space-sm);
  }
}

.code,
code {
  font-family: $font-family-headline;
}

.small {
  font-size: var(--space-xs);
}

// -- pipe after h1-- //

h1,
.h1 {
  position: relative;

  &:after {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
    border-radius: var(--border-radius-element);
    content: "";
    height: var(--space-md);
    margin-left: var(--space-xxs);
    margin-top: rem(3);
    position: absolute;
    width: 1px;
  }

  @include change-at("tablet") {
    &:after {
      height: rem(48);
      margin-top: 0;
    }
  }
}

// -- list styling -- //

.unordered-list {
  margin-left: var(--space-sm);
  li {
    margin-bottom: var(--space-base);
    &::marker {
      color: var(--primary);
      font-size: var(--space-base);
    }
  }
}

// -- code -- //
code {
  background-color: var(--primary-light);
  border-radius: var(-border-radius-element);
  color: var(--primary);
}
