// -- global font stylings -- //

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.8;
  color: $text-color;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  color: $headline-color;
  font-family: $font-family-headline;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-bottom: $space-text;
  position: relative;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h2,
h3 {
  &:before {
    bottom: 0;
    content: url("../images/hash.svg");
    left: -15px;
    position: absolute;
    z-index: -1;
  }
}

p {
  margin-bottom: $space-text;
  &.has-medium-font-size {
    font-size: $font-size-large;
    margin-bottom: $space-section;
  }
}

.code,
code {
  font-family: $font-family-headline;
}

.small {
  font-size: $font-size-small;
}

h2,
h3 {
  margin-top: $space-section;
}

// -- pipe after h1-- //

.h1 {
  position: relative;

  &:after {
    background-color: $primary-light;
    border: 1px solid $primary-light;
    border-radius: $border-radius;
    content: "";
    height: $s32;
    margin-left: $s8;
    margin-top: rem(3);
    position: absolute;
    width: 1px;
  }

  @include change-at("tablet") {
    &:after {
      height: rem(48);
      margin-top: 0;
    }
  }
}

// -- list styling -- //

.unordered-list,
ul {
  margin-left: $size-l;
  li {
    margin-bottom: $space-text;
    &::marker {
      color: $primary;
      font-size: $font-size-base;
    }
  }
}

// -- code -- //
code {
  background-color: $primary-light;
  border-radius: $border-radius-small;
  color: $primary;
}
