.section__archive {
  display: grid;
  grid-gap: $size-l;
  padding: 0 $size-l 0 $size-l;

  @include change-at("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include change-at("desktop") {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.archive {
  &__card {
    max-width: initial;
  }
}
