.frontpage {
  &__intro {
    grid-column: 1 / -1;
    padding: 96px 0;

    @include change-at("laptop") {
      grid-column: 1 / span 3;
    }

    @include change-at("desktop") {
      grid-column: 2 / span 4;
    }
  }

  &__articles {
    grid-column: 1 / -1;
  }

  .boxes {
    
    border-top: 1px solid var(--background-line-color);
    list-style-type: none;

    @media (min-width:425px) {
      @include make-grid();
    }

    &__headline {
      background: var(--gradient-main);
      color: var(--white);

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding: var(--component-padding);

      h3 {
        color: currentColor;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    &__image {
      min-height: rem(152);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      border-bottom: 1px solid var(--background-line-color);
      position: relative;
      transition: all 0.3s ease-in-out;

      height: rem(240);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--component-padding);
      gap:calc(var(--component-padding) / 2);

      &:nth-of-type(7th) {
        border-color: transparent;
      }

      a {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        z-index: 5;
      }

      h4 {

        align-items: center;
        color: var(--white);
        display: flex;
        justify-content: center;
        line-break: anywhere;
        margin-bottom: 0;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &::after {
          color: var(--primary);
          content: "→";
          font-size: rem(24);
          margin-left: var(--space-xxs);
          transition: all 0.3s ease-in-out;
        }
      }

      img {
        display: block;
        max-height: rem(202);
        width: auto;
        height: auto;
      }

      &:hover {
        h4 {
          &::after {
            color: var(--primary);
          }
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: var(--space-xxl);
    }
  }
}
