.pattern {
  display: grid;
  grid-template-columns: rem(16) calc(100% - 2rem) rem(16);
  grid-template-rows: rem(624) rem(150) auto;

  @include change-at("desktop") {
    grid-template-columns: rem(64) auto rem(941) auto rem(64);
  }

  &__preview {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;

    @include change-at("desktop") {
      grid-column: 2 / span 3;
      //resize div on both sides at the same time
      justify-self: center;
      //initial keep the width before resize
      width: 100%;
    }
  }

  &__info {
    grid-column: 2 / span 1;
    grid-row: 2 / min-content;
    //padding: rem(16) rem(32);
    padding: clamp(#{rem(16)}, 3.4vw, #{rem(64)})
      clamp(#{rem(32)}, 6.5vw, #{rem(121)});

    background-color: #fff;
    border-radius: $border-radius $border-radius 0 0;

    z-index: 1;

    @include change-at("desktop") {
      grid-column: 3 / span 1;
      //padding: rem(64) rem(121);
    }
  }

  &__example {
    position: relative;
    min-height: rem(616);
  }

  &__code {
    position: relative;
  }

  &__resizeable {
    position: relative;
    padding: rem(16) rem(16) 0;
    background: var(--gradient-main);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      &:first-child {
        margin-bottom: rem(150);
      }
    }
  }
}

.codepen {
  display: flex;
  justify-content: center;
  margin-top: rem(48);
  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: rem(13) 0;

    &:hover {
      &:after {
        border-bottom: 2px solid var(--primary);
        animation: hover 0.3s;
        margin-bottom: -27px;
      }
    }

    &::before {
      content: "";
      background-image: url("../images/call-to-action.svg");
      background-repeat: no-repeat;
      height: 14px;
      width: 12px;
      margin-right: var(--spacer);
    }
  }
}
