.pattern {
  &__preview {
    grid-column: 1 / -1;

    @include change-at("desktop") {
      //resize div on both sides at the same time
      justify-self: center;
      //initial keep the width before resize
      width: 100%;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include change-at("desktop") {
      grid-column: 2 / span 4;
    }
  }

  &__headline {
    margin-top: clamp(var(--space-lg), 5vw, var(--space-xl));
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);

    @include change-at("desktop") {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__example {
    position: relative;
    min-height: rem(480);
  }

  &__code {
    position: relative;
  }

  &__resizeable {
    position: relative;
    padding: rem(16) rem(16) 0;
    background: var(--gradient-main);
    height: rem(624);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    resize: horizontal;
    overflow: auto;
  }
}

.codepen {
  display: flex;
  justify-content: center;
  margin-top: rem(48);
  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: rem(13) 0;

    &:hover {
      &:after {
        border-bottom: 2px solid var(--primary);
        animation: hover 0.3s;
        margin-bottom: -27px;
      }
    }

    &::before {
      content: "";
      background-image: url("../images/call-to-action.svg");
      background-repeat: no-repeat;
      height: 14px;
      width: 12px;
      margin-right: var(--spacer);
    }
  }
}
