//Hover Animation

@keyframes hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

//used on copy to clipboard message
@keyframes from-bottom {
  0% {
    bottom: rem(40);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    bottom: rem(52);
    opacity: 1;
  }

  100% {
    bottom: rem(50);
    opacity: 0;
  }
}
