// ~~ CATEGORYCOLORS ~~ //

.cc {
  &__background {
    background: var(--gradient-main);
  }
}

.navigation {
  --primary: hsl(180, 87%, 55%);
  
  --primary-light: hsl(180, 100%, 97%);
  --headline-color: hsl(180, 91%, 11%);
  --line-color: hsl(180, 5%, 83% );
  --gradient-main: linear-gradient(
    to top,
    hsl(180, 87%, 55%) 0%,
    hsl(185, 87%, 55%) 100%
  );
  --gradient-light: linear-gradient(
    to top,
    hsl(180, 100%, 80%) 0%,
    hsl(185, 100%, 86%) 100%
  );
  --box-shadow: 0 2px 8px -1px hsla(180, 72%, 39%, 0.3),
                0 1px 2px -1px hsla(180, 72%, 39%, 0.2), 
                0 1px 0 0 hsla(180, 72%, 39%, 0.1);
  --box-shadow-hover: 0 2px 8px -1px hsla(180, 72%, 39%, 0.3), 
                      0 2px 4px 0px hsla(180, 72%, 39%, 0.1), 
                      0 4px 12px 0px hsla(180, 72%, 39%, 0.07), 
                      0 8px 16px 0 hsla(180, 72%, 39%, 0.01)
}

.input {
  --primary: hsl(302, 84%, 76%);
  --text-color: hsl(300, 81%, 96%);
  --headline-color: hsl(302, 82%, 83%);
  --line-color: hsl(32, 12%, 83% );
  --gradient-main: linear-gradient(
    218deg,
    hsl(302, 88%, 89%) 0%,
    hsl(302, 84%, 76%) 100%
  );
  --gradient-light: linear-gradient(
    218deg,
    hsl(302, 80%, 83%) 0%,
    hsl(302, 78%, 92%) 100%
  );
  --box-shadow: 0 2px 8px -1px hsla(272, 38%, 57%, 0.3),
    0 1px 2px -1px hsla(272, 38%, 57%, 0.2), 0 1px 0 0 hsla(272, 38%, 57%, 0.1);
}

.content {
  --primary: hsl(250, 91%, 69%);
  
  --primary-light: hsl(250, 100%, 99%);
  --headline-color: var(--text-color);
  --line-color: hsl(32, 12%, 83% );
  --gradient-main: linear-gradient(
    to top,
    hsl(250, 91%, 69%) 0%,
    hsl(250, 91%, 74%) 100%
  );
  --gradient-light: linear-gradient(
    to top,
    hsl(250, 100%, 75%) 0%,
    hsl(260, 100%, 75%) 100%
  );
  --box-shadow: 0 2px 8px -1px hsla(250, 88%, 28%, 0.3),
    0 1px 2px -1px hsla(250, 88%, 28%, 0.2), 0 1px 0 0 hsla(250, 88%, 28%, 0.1);
}

.layout {
  --primary: hsl(332, 92%, 76%);
  --text-color: hsl(332, 90%, 96%);
  --headline-color: hsl(332, 90%, 86%);
  --gradient-main: linear-gradient(
    218deg,
    hsl(332, 92%, 80%) 0%,
    hsl(332, 90%, 76%) 100%
  );
  --gradient-light: linear-gradient(
    218deg,
    hsl(332, 92%, 80%) 0%,
    hsl(332, 93%, 85%) 100%
  );
  --box-shadow: 0 2px 8px -1px hsla(329, 46%, 57%, 0.3),
    0 1px 2px -1px hsla(329, 46%, 57%, 0.2), 0 1px 0 0 hsla(329, 46%, 57%, 0.1);
}
