// Colors

$primary: hsl(203, 89, 46);
$primary-light: hsl(203, 89, 86);

$line-color: hsl(205, 27, 75);

$text-color: hsl(203, 72, 27);

// SIZING

$size-s: rem(8); // base - 8
$size-m: $size-s * 2; // base
$size-l: $size-s * 3; // base + 8
$size-xl: $size-s * 5; //base * 5
$size-xxl: $size-s * 8; // base * 8
