.footer {
  display: flex;
  flex-direction: column;
  padding: $size-l 0;

  @include change-at("tablet") {
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $line-color;
    padding: $size-l $size-m;
  }

  @include change-at("desktop") {
    padding: $size-l $size-xxl;
  }

  &-menu {
    text-align: center;
  }

  &-social {
    text-align: center;
    padding: $size-l $size-m 0;

    @include change-at("tablet") {
      padding: 0;
    }

    &__icon {
      width: 20px;
      height: auto;

      &--github {
        margin-right: $size-m;
        &:hover {
          path {
            stroke: var(--primary);
          }
        }
      }

      &--codepen {
        &:hover {
          path {
            fill: var(--primary);
          }
        }
      }
    }
  }
}
