.footer {
  border-top: 1px solid var(--background-line-color);
  display: flex;
  flex-direction: column;

  @include change-at("tablet") {
    flex-direction: row;
    justify-content: space-between;

    padding: var(--space-lg) var(--space-xl);
  }

  @include change-at("desktop") {
    padding: var(--space-md) var(--space-xl);
  }

  &-menu {
    display: flex;
    list-style-type: none;
    text-align: center;
    li:not(:last-of-type) {
      margin-right: var(--space-xs);
    }
  }

  &-social {
    text-align: center;
    padding: var(--size-lg) var(--size-xs) 0;

    @include change-at("tablet") {
      padding: 0;
    }

    &__icon {
      width: 20px;
      height: auto;

      &--github {
        margin-right: var(--size-xs);
        &:hover {
          path {
            stroke: var(--primary);
          }
        }
      }

      &--codepen {
        &:hover {
          path {
            fill: var(--primary);
          }
        }
      }
    }
  }
}
