.header {
  overflow-y: hidden;
  padding: $size-l 0 0;

  display: grid;
  grid-gap: $size-xl;
  text-align: center;

  @include change-at("desktop") {
    padding: $size-l $size-xxl;
    border-bottom: 1px solid $line-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
